<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
							 xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

  <resources cache="true">
    <cfg:filters />
    <cfg:groups/>
  </resources>
  <definitionfiles />
  <extensions>
    <ext:dataextenders>
      <ext:dataextender type="GuiExtensions.DataExtenders.FilenameInGui, FilenameInGui" name="PageFilenameExtender">
        <ext:description>Page filename</ext:description>
      </ext:dataextender>
    </ext:dataextenders>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls/>
        <ext:listdefinitions/>
        <ext:taskbars/>
        <ext:commands/>
        <ext:commandextensions/>
        <ext:contextmenus/>
        <ext:lists>
          <ext:add>
            <ext:extension name="MyColumnExtender" assignid="MyColumnExtenderID">
              <ext:listDefinition>
                <ext:selectornamespaces/>
                <ext:columns>
                  <column xmlns="http://www.sdltridion.com/2009/GUI/extensions/List"
                                      id="Page Filename" type="data" title="Page Filename"
                                      selector="@pageFilename" translate="String" />
                  <column xmlns="http://www.sdltridion.com/2009/GUI/extensions/List"
                                      id="URI" type="data" title="URI"
                                      selector="@ID" translate="String" />
                </ext:columns>
              </ext:listDefinition>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:lists>

        <ext:tabpages/>
        <ext:toolbars/>
        <ext:ribbontoolbars/>
      </ext:editorextension>
    </ext:editorextensions>
  </extensions>
  <commands/>
  <contextmenus />
  <localization />
  <settings>
    <defaultpage/>
    <!-- /Views/Default.aspx</defaultpage> -->
    <navigatorurl/>
    <!-- /Views/Default.aspx</navigatorurl> -->
    <editurls/>
    <listdefinitions />
    <itemicons/>
    <theme>
      <path>theme/</path>
    </theme>
    <customconfiguration />
  </settings>
</Configuration>